@model Character

@{
    ViewData["Title"] = "Create a Character";
}

<button class="c">Character Details</button>
<div class="container content" style="max-height: 100%">
    <form class="form-control p-4 d-flex flex-wrap justify-content-center" action="post">
        <div class="m-2">
            <label for="name">Name</label><br />
            <input class="form-control" type="text" name="name" />
        </div>
        <div class="m-2">
            <label for="class">Class</label><br />
            <select class="form-select">
                <option selected disabled hidden>Choose Your Class</option>
                <option value="Artificer">Artificer</option>
                <option value="Barbarian">Barbarian</option>
                <option value="Bard">Bard</option>
                <option value="Cleric">Cleric</option>
                <option value="Druid">Druid</option>
                <option value="Fighter">Fighter</option>
                <option value="Monk">Monk</option>
                <option value="Paladin">Paladin</option>
                <option value="Ranger">Ranger</option>
                <option value="Rogue">Rogue</option>
                <option value="Sorcerer">Sorcerer</option>
                <option value="Warlock">Warlock</option>
                <option value="Wizard">Wizard</option>
            </select>
        </div>
        <div class="m-2">
            <label for="level">Level</label><br />
            <select class="form-select">
                @for (int i = 1; i <= 20; i++)
                {
                    <option>@i</option>
                }
            </select>
        </div>
        <div class="m-2">
            <label for="experience">Experience</label><br />
            <input class="form-control" type="number" name="experience" />
        </div>
        <div class="m-2">
            <label for="species">Species</label><br />
            <select class="form-select">
                <option selected disabled hidden>Choose Your Species</option>
                <optgroup label="Dwarf">
                    <option value="Hill Dwarf">Hill Dwarf</option>
                    <option value="Mountain Dwarf">Mountain Dwarf</option>
                </optgroup>
                <optgroup label="Elf">
                    <option value="High Elf">High Elf</option>
                    <option value="Wood Elf">Wood Elf</option>
                    <option value="Drow">Drow</option>
                </optgroup>
                <optgroup label="Halfling">
                    <option value="Lightfoot Halfling">Lightfoot Halfling</option>
                    <option value="Stout Halfling">Stout Halfling</option>
                </optgroup>
                <option value="Human">Human</option>
                <option value="Dragonborn">Dragonborn</option>
                <optgroup label="Gnome">
                    <option value="Forest Gnome">Forest Gnome</option>
                    <option value="Rock Gnome">Rock Gnome</option>
                </optgroup>
                <option value="Half-Elf">Half-Elf</option>
                <option value="Half-Orc">Half-Orc</option>
                <option value="Tiefling">Tiefling</option>
            </select>
        </div>
        <div class="m-2">
            <label for="background">Background</label><br />
            <select class="form-select">
                <option selected disabled hidden>Choose Your Background</option>
                <option value="Acolyte">Acolyte</option>
                <option value="Charlatan">Charlatan</option>
                <option value="Criminal">Criminal</option>
                <option value="Entertainer">Entertainer</option>
                <option value="Folk Hero">Folk Hero</option>
                <option value="Guild Artisan">Guild Artisan</option>
                <option value="Hermit">Hermit</option>
                <option value="Noble">Noble</option>
                <option value="Outlander">Outlander</option>
                <option value="Sage">Sage</option>
                <option value="Sailor">Sailor</option>
                <option value="Soldier">Soldier</option>
                <option value="Urchin">Urchin</option>
            </select>
        </div>
        <div class="m-2">
            <label for="alignment">Alignment</label><br />
            <select class="form-select">
                <option selected disabled hidden>Choose Your Alignment</option>
                <optgroup label="Good">
                    <option value="Lawful Good">Lawful Good</option>
                    <option value="Neutral Good">Neutral Good</option>
                    <option value="Chaotic Good">Chaotic Good</option>
                </optgroup>
                <optgroup label="Neutral">
                    <option value="Lawful Neutral">Lawful Neutral</option>
                    <option value="True Neutral">True Neutral</option>
                    <option value="Chaotic Neutral">Chaotic Neutral</option>
                </optgroup>
                <optgroup label="Evil">
                    <option value="Lawful Evil">Lawful Evil</option>
                    <option value="Neutral Evil">True Evil</option>
                    <option value="Chaotic Evil">Chaotic Evil</option>
                </optgroup>
            </select>
        </div>
        
        
    </form>
</div>






<script>
    var coll = document.getElementsByClassName("c");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        }
      });
    }
</script>









