@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>I do not harvest any of your personal data. You do not need an email to make an account as of right now. The only information that is stored in the database is whatever you decide to write on your character sheets.</p>
<p>This is a free personal portfolio project created by Joseph English. I will never sell access to this tool, do not give money to anyone claiming to be me offering a paid version.</p>
<p>Dungeons & Dragons is owned by Wizards of the Coast, and I have no affiliation with them. Again, this is a personal project for me, my friends, and anyone else that might find it useful.</p>
